<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Demo HomeWork</title>
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>

<body>
  <div class= "container">
    <h3>DEMO MANAGEMENT</h3>
  </div>

  <div class = "container">

    <div class="panel panel-primary">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
          Databoards
        </h4>
      </div>
    </div>

    <div class="panel-body">
      <form class="form-horizontal" action = "http://localhost:3000/them" method="post">
        <div class="row">
          <div class="form-group">
            <label class="col-sm-2 control-label">Họ và tên</label>
            <div class="col-sm-3">
              <input type="text" class="form-control" name ="name" placeholder="Nguyễn Văn A">
            </div>

            <label class="col-sm-2 control-label">Giới tính</label>
            <div class="col-sm-2">
              <input type="text" class="form-control" name ="gt" placeholder="Nam/Nữ">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group">
            <label class="col-sm-2 control-label">MSSV</label>
            <div class="col-sm-2">
              <input type="text" class="form-control" name ="mssv" placeholder="SV0213">
            </div>

            <label for="Namsinh" class="col-sm-3 control-label">Năm sinh</label>
            <div class="col-sm-1">
              <input type="numder" class="form-control" name ="birthday" placeholder="1790">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <input class="btn btn-success" type="submit" class="btn btn-default" value="Thêm"></input>
            </div>
          </div>
        </div>

      </form>
  </div>
  <hr>

  </div>
  <div class="container">
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
          Databoards
        </h4>
      </div>
      <div class="panel-body">
        <table class="table table-bordered">
          <div class ="form-group ">
            <tr class = "success">
              <td class="active">MSSV</td>
              <td class="active">Họ và tên</td>
              <td class="active">Giới tính</td>
              <td class="active">Ngày sinh</td>
              <td class="active">Thao tác quản lý</td>
            </tr>
            <% data.forEach(function(item){%>
              <tr>
                <td><%= item.mssv%></td>
                <td><%= item.name%></td>
                <td><%= item.gt%></td>
                <td><%= item.birthday%></td>

                <td>
                  <a href="http://localhost:3000/xoa/<%=item.id%>">
                    <button class="btn btn-danger btn-xs delete_data">
                      <span class="glyphicon glyphicon-trash"></span>
                    </button>
                  </a>
                  <a href="http://localhost:3000/sua/<%=item.id%>">
                    <button class="btn btn-danger btn-xs">
                      <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                  </a>

                </td>
              </tr>
            <%  }) %>
          </div>
        </table>

      </div>
    </div>
  </div>



</body>

<footer>
</footer>

</html>
